$theme-dark: #121815;
$theme-normal: #1c2621;
$theme-light: #2c3b33;
$color-font: #e0e6e3;
$color-shadow: rgba(#000000, .3);
$color-overlay: rgba(#ffffff, .08);
$color-alert: #d29b22;
$color-selected: #d4af37;
$color-patched: #e74c3c;
$color-highlight: #d29b22;
$color-active: #2ecc71;

:export {
  themeDark: $theme-dark;
  themeNormal: $theme-normal;
  themeLight: $theme-light;
  colorFont: $color-font;
  colorShadow: $color-shadow;
  colorOverlay: $color-overlay;
  colorAlert: $color-alert;
  colorSelected: $color-selected;
  colorPatched: $color-patched;
  colorHighlight: $color-highlight;
  colorActive: $color-active;
}
